
.footer {
  display: flex;
  flex-direction: column;
  margin: -0.5rem -3.5rem;
  background: #00c076;
  position: relative;
}
.f-content{
  padding: 0 3.5rem;
  
  color: white;
  font-family: "Poppins",sans-serif;
  padding-top: 1rem;
  background: #00c076;
  width: 100%;
}
.f-icons {
  display: flex;
  margin-top: 1rem;
  transform: scale(0.7);
  gap: 2rem;
  cursor: pointer;
}
.f-icons>*{
  background: white;
  border-radius: 50%;
  padding: 5px;
}
.f-icons :hover{
  background: #00c076;
  color: white;
}
.f-content span{
  font-size: 14px;
}
.f-content h3{
  font-size: 25px;
  font-weight: 600;
  color: black;
}